.header {
    color: var(--secondary-color);
    font-size: calc(1vw + 1.5rem);
    text-align: center;
}

.header h1 {
    margin-top: 1.5rem;
}

.header h1 a {
    color: #FDFFFC;
    text-decoration: none;
}

@media(min-width: 800px) {
    .header {
        color: #FDFFFC;
        align-self: center;
        font-size: calc(1vw + 2rem);
        grid-column-start: 1;
        grid-column-end: 3;
        text-align: center;
    }
}
