.post {
    position: relative;
}

.post::before,
.post::after {
    background-position: center bottom;
    background-size: 80% 1px;
    background-repeat: no-repeat;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.post::before {
    background-image: radial-gradient(#eee, white);
}

.post::after {
    opacity: 0;
    background-image: radial-gradient(var(--secondary-color), white);
}

.post:hover::after {
    opacity: 1;
    transition: opacity .5s;
}

.post:hover::before {
    opacity: 0;
    transition: opacity .5s;
}

.sidebar ul {
    list-style-type: none;
    max-height: 50vh;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}
