<!-- variables:
    article
    show_author_name
    show_whole_article
    header_link
-->
<section class="content box nkc-article">
    {% if show_whole_article %}
        <h2 class="title is-2 is-size-5-mobile has-text-left">
    {% else %}
        <h3 class="title is-2 is-size-5-mobile has-text-left">
    {% endif %}

    {% if header_link %}
    <a class="has-text-grey-darker" href="/{{article.url}}">
        {% if not show_author_name %}
            {{ article.title }}
        {% else %}
            {{article.author}}: {{ article.title }}
        {% endif %}
    </a>
    {% else %}
        {{article.author}}: {{ article.title }}
    {% endif %}

    {% if show_whole_article %}
        </h2>
    {% else %}
        </h3>
    {% endif %}

    <!-- tags -->
    <div class="container">
        {% if article.tags %}
            {% for tag in article.tags %}
            <a class="button is-primary is-small" href="/{{tag.url}}">{{ tag }}</a>
            {% endfor %}
        {% endif %}
    </div>

    <!-- content -->
    {% if show_whole_article %}
        {{ article.content }}
    {% else %}
        {{ article.content|truncate(400) }}
    {% endif %}
</section>
