{% if DEFAULT_PAGINATION %}
    <div class="columns">
        <div class="column is-half">
            {% if articles_page.has_previous() %}
                <a class="button is-primary" href="{{ SITEURL }}/{{ articles_previous_page.url }}">Předchozí</a>
            {% endif %}
        </div>
        <div class="column is-half has-text-right">
            {% if articles_page.has_next() %}
                <a class="button is-primary" href="{{ SITEURL }}/{{ articles_next_page.url }}">Další</a>
            {% endif %}
        </div>
    </div>
{% endif %}
