<div class="content">
    <form name="x" action="//duckduckgo.com/" target="_blank">
        <div class="field">
            <div class="control">
                <input class="input" type="search" placeholder="..." name="q" />
            </div>
        </div>

        <input type="hidden" value="necokecteni.cz" name="sites" />

        <div class="field">
            <div class="control">
                <input class="button is-primary" type="submit" value="Hledat" />
            </div>
        </div>
    </form>
</div>
