{% extends "base.html" %}

{% block head %}
    <meta name="description" content="{{article.category}}: {{article.title}}" />
    <meta name="keywords" content="{{article.tags|join(',')}},{{article.category}},{{article.title}}" />
    <meta name="robots" content="index,follow" />
    <meta http-equiv="expires" content="43200"/>
{% endblock %}

{% block sidebar %}

    <h3 class="title is-4 is-size-5-mobile has-text-grey-light">Další knihy autora</h3>

    {% if articles %}
        <section class="content">
            {% for a in articles if a.category == article.category and a.title != article.title %}
                <a class="is-block" href="{{ SITEURL }}/{{ a.url }}">{{ a.title }}</a>
            {% else %}
                <p>Zatím nemáme žádné další recenze.</p>
            {% endfor %}
        </section>
    {% endif %}


    <h3 class="title is-4 is-size-5-mobile has-text-grey-light">Další podobné knihy</h3>
    {% if articles %}
        <section class="content has-overflow has-height-200">
            {% for a in articles|rejectattr('title', 'eq', article.title) if a.tags|same_as(article.tags) %}
                <a class="is-block" href="{{ SITEURL }}/{{ a.url }}">{{a.author}}: {{ a.title }}</a>
            {% else %}
                <p>Zatím nemáme žádné další recenze.</p>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}

{% block content %}
    {% with article=article, show_whole_article=True %}
        {% include "./partials/article.html" %}
    {% endwith %}
{% endblock content %}
