{% extends "./base.html" %}
{{ super() }}
{% block title %}{{ SITENAME }} | {{ category }}{% endblock %}

{% block content %}
<h2 class="title is-2 has-text-left">{{ category }}</h2>
    {% for article in articles_page.object_list %}
    {% with
        article=article,
        header_link=True,
        show_whole_article=False,
        show_author_name=False
    %}
        {% include "./partials/article.html" %}
    {% endwith %}
    {% endfor %}

    {% include "partials/pagination.html" %}
{% endblock %}
