{% extends "base.html" %}

{% block sidebar %}
    <section class="content">
        <h3 class="title is-4 has-text-grey-light">Autoři</h3>
        <section class="has-overflow has-height-200">
            {% for category, articles in categories | sort_by_surname %}
            <a class="is-block" href="/{{ category.url }}">{{ category }}</a>
            {% endfor %}
        </section>
    </section>
{% endblock %}

{% block content %}
    {% for article in articles_page.object_list %}
    {% with
        article=article,
        header_link=True,
        show_whole_article=False,
        show_author_name=True
    %}
        {% include "./partials/article.html" %}
    {% endwith %}
    {% endfor %}

    {% include "partials/pagination.html" %}
{% endblock %}

