{% extends "./base.html" %}
{{ super() }}
{% block title %}{{ SITENAME }} | {{ tag }}{% endblock %}
{% block content %}
    <h2 class="title is-2 has-text-left">Knihy se štítkem &bdquo;{{ tag }}&rdquo;</h2>
    {% for article in articles_page.object_list | sort(attribute='category')  %}
    {% with
        article=article,
        header_link=True,
        show_whole_article=False,
        show_author_name=True
    %}
        {% include "./partials/article.html" %}
    {% endwith %}
    {% endfor %}

    {% include "partials/pagination.html" %}
{% endblock %}
